* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Lato;
}

body {
  overflow-y: scroll;
}

:root {
  --spacer: 30px;
  --mobile-width: 400px;
  --color-good: hsl(100, 100%, 30%);
  --color-good-2: hsl(100, 5%, 65%);
  
  --color-900: #f9f9f9;
  --color-800: #eee;
  --color-700: #ddd;
  --color-600: #bbb;
  --color-500: #aaa;
  --color-400: #656565;
  --color-300: #555;
  --color-200: #444;
  --color-100: #333;
}

#root {
  background-color: var(--color-100);

}


#content {
  
}

.inputs-container {
  padding: 10px;
  background-color: var(--color-300);
}

.inputs-wrapper {
  background-color: var(--color-900);

}

.text-input {

}

.cm-span {
  
}

.board-length-wrapper {
  
}

.extend-wrapper {

}

.extend-wrapper input {

}

#board-length, #size-limit {

}

.size-limit {
  
}


.measurements-inputs-wrapper {


}

.measurement-text-input {
  
}


.repeat-wrapper {

}

.repeat-wrapper input {
 
}

.inputs-footer button {

  cursor: pointer;
}


#count {

}

.info-wrapper {

}

.measurement-info {

}

.starting-length-text {

}

.step-heading {

}

.step-body {

}

.step-text {

}

.length-remaining-text {
  
}

.summary-highlight {

}

.hidden {
  visibility: hidden;
}