* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
}

h1, h2 {
  font-family: Lato;
}

body {
  overflow-y: scroll;
}

:root {
  --spacer: 20px;
  --spacer-macro: 40px;
  --padder: 30px;
  --mobile-width: 400px;
  --color-good: hsl(100, 100%, 30%);
  --color-good-2: hsl(100, 100%, 98%);
  
  --color-900: #f9f9f9;
  --color-800: #eee;
  --color-700: #ddd;
  --color-600: #bbb;
  --color-500: #aaa;
  --color-400: #656565;
  --color-300: #5a5a5a;
  --color-200: #444;
  --color-100: #333;
}

#root {
  min-height: 100vh;
  background-color: var(--color-100);

}


#content {
  width: 100%;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-200);
}



.inputs-container {
  /* Child of Content */
  padding: 10px;
  margin: 0 0 var(--spacer-macro) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-300);
}

.inputs-wrapper {
  
  padding: 10px;
  background-color: var(--color-900);

}

.text-input {
  width: 5ch;
  padding: 5px;
  margin: 0 0 0 5px;
}

.cm-span {
  margin: 0 7px 0 4px;
  font-size: 0.8rem;
  display: inline-block;
  
}

.board-length-wrapper {
  margin-bottom: var(--spacer);
  padding: 10px var(--padder);
  
  display: flex;

  align-items: baseline;
  
  background-color: var(--color-800);
  
}

.extend-wrapper {
  margin-bottom: var(--spacer);
  padding: 10px var(--padder);
  background-color: var(--color-800);
  
}

.extend-wrapper input {
  
}

#board-length, #size-limit {

}

.size-limit {
  margin-top: -20px;
  margin-bottom: var(--spacer);
  padding: var(--padder);
  padding-top: 5px;
  
  display: inline-block;
  
  background: var(--color-800);
}


.measurements-inputs-wrapper {
  padding: var(--padder);
  margin-bottom: var(--spacer);

  display: flex;
  align-items: baseline;
  
  background: var(--color-800);

}

.measurement-text-input {

}


.repeat-wrapper {
  margin: 0 var(--padder) 0 10px;
}

.repeat-wrapper input {
 width: 4ch;
 padding: 5px;
}

.inputs-footer button {
  padding: 5px 20px;
  border: none;
  border-radius: 100px;
  
  color: var(--color-good-2);
  background: var(--color-good);
 
  cursor: pointer;
}


#count {
  /* Child of Content */
  width: 100%;
  padding: 20px;
  margin: -40px 0 var(--spacer-macro) 0;
  text-align: center;

  font-weight: bold;
  color: var(--color-300);
  background-color: var(--color-700);
  box-shadow: inset 5px 5px 5px -4px #777;

}

#app { 
  /* Child of Content */

}

.step-body {
  /* Child of App */
  padding: 10px;
  margin: 10px 0;

  color: var(--color-700);
  background-color: var(--color-200);
}

.info-wrapper {
  padding: var(--padder);
  background-color: var(--color-400);
}

.measurement-info {
  font-size: 1.1rem;
}

.starting-length-text {
  color: var(--color-600);
  font-weight: bold;
}


.step-heading {
  padding: var(--padder);
  padding-bottom: 20px;
  background-color: var(--color-100);
}

.step-text {
  padding-bottom: 20px;
  padding-left: var(--padder);

  background-color: var(--color-100);
  
}

.final-step-spacer {
  padding: 0 0 10px 0;
}

.length-remaining-text {
  padding: var(--padder);
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 0.8rem;
  color: var(--color-600);
  background-color: var(--color-100);
}

.summary-highlight {
  font-weight: bold;
}

.hidden {
  display: none;
}