* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
}

h1, h2 {
  font-family: Lato;
}

body {
  overflow-y: scroll;
}

:root {
  --spacer: 20px;
  --spacer-macro: 40px;
  --padder: 30px;
  --mobile-width: 400px;
  --color-good: hsl(100, 100%, 30%);
  --color-good-2: hsl(100, 100%, 98%);
  
  --color-900: #f9f9f9;
  --color-800: #eee;
  --color-700: #ddd;
  --color-600: #bbb;
  --color-500: #aaa;
  --color-400: #656565;
  --color-300: #5a5a5a;
  --color-200: #444;
  --color-100: #333;
}

#root {
  min-height: 100vh;
  background-color: var(--color-100);


}


#content {
  width: 100%;
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-200);
}


.inputs-container {
  /* Child of Content */
  padding: 10px;
  margin: 0 0 var(--spacer-macro) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-300);
}

.parameter-inputs {
  
  padding: 10px;
  background-color: var(--color-700);

}

.board-length {
  margin-bottom: var(--spacer);
  padding: 10px var(--padder);
  
  display: flex;

  align-items: baseline;
  
  background-color: var(--color-800);
  
}

.extensions {
  padding: var(--padder);
  margin-bottom: var(--spacer);
  background-color: var(--color-800);
  
}

.refine-extensions {
  margin-top: -20px;
  margin-bottom: var(--spacer);
  padding: var(--padder);
  padding-top: 5px;
  
  display: inline-block;
  
  background: var(--color-800);
}


.add-cuts__text {
  /* padding: var(--padder); */
  padding-right: 7px;
  background: var(--color-800);

}

.add-cuts__measurements {
  padding: var(--padder) 0px 15px var(--padder);
  margin-bottom: 30px;

  display: flex;
  align-items: baseline;
  
  background: var(--color-800);

}

.add-cuts__measurements__input {
  margin-left: 0 !important;
}

.add-cuts__measurements__repeat {
  margin: 0 var(--padder) 0 10px;
}

#add-cuts__measurements__repeat__input {
 width: 7ch;
 padding: 5px;
}

.add-cuts__button-container {
 

}

#add-cuts__button {
  padding: 10px 30px;
  margin: 0 0 30px 0px;
  border: none;
  border-radius: 100px;
  
  color: var(--color-good-2);
  background: var(--color-good);
 
  cursor: pointer;
}


.count {
  /* Child of Content */
  transition: all 200ms;

  max-height: 80px;
  width: 100%;
  padding: 20px;
  margin: 15px 0 ;
  text-align: center;

  font-weight: bold;
  color: var(--color-400);
  background-color: var(--color-700);
  /* box-shadow: inset 5px 5px 5px -4px #777; */

  overflow: hidden;
}

.hide-count {
  max-height: 0px;
  padding: 0px;
}

#app { 
  /* Child of Content */
  width: min(90vw, 457px);

}

.instructions {
  /* Child of App */
  width: 100%;
  margin: 0 0 var(--spacer-macro) 0;
  color: var(--color-700);
}

.instructions__heading {
  padding: var(--padder);
  background-color: var(--color-400);
}

.instructions__heading__measurement {
  font-size: 1.1rem;
}

.instructions__heading__starting-length {
  color: var(--color-600);
  font-weight: bold;
}

.instructions__steps {
  max-height: 500px;

  transition: 200ms;
  overflow: hidden;
}

.instructions__steps--hide {
  max-height: 0px;
}

.instructions__steps__heading {
  padding: var(--padder);
  padding-bottom: 20px;
  background-color: var(--color-100);
}

.instructions__steps__step {
  padding-bottom: 20px;
  padding-left: var(--padder);

  background-color: var(--color-100);
  
}

.instructions__steps__final-spacer {
  padding: 0 0 10px 0;
}

.instructions__summary {
  padding: var(--padder);
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 0.8rem;
  color: var(--color-600);
  background-color: var(--color-100);
}

.text-input {
  width: 8ch;
  padding: 5px;
  margin: 0 0 0 5px;
}

.cm-span {
  margin: 0 5px 0 2px;
  font-size: 0.8rem;
  display: inline-block;
  
}

.summary-highlight {
  font-weight: bold;
}


/* used to hide the checkbox inputs. need BEM solution. */
.hidden {
  display: none;
}